.navbar {
    background-color: var(--bg-primary), 0.1;
    backdrop-filter: blur(20px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    height: 60px;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.brand h1 {
    color: var(--brand-primary);
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
    /* width: 100%; */
    gap: 1rem;
    background-color: var(--text-primary), 0.7;
    backdrop-filter: blur(20px);
    border-radius: 100px;
    padding: 0 1rem;
    box-shadow:
        inset 0 1px 3px rgba(0, 0, 0, 0.12);
    /* border: #333333 1px solid; */
}

.links button {
    background-color: transparent;
    border: none;
    color: var(--text-primary);
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: 300;
    height: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 500px;

}

.links button:hover {
    background: var(--bg-tertiary);
    color: var(--text-alternate);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    padding: 0.5em;
}

.search input {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    width: 25em;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    color: var(--text-primary);
}