:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  /* Colors */

  --brand-primary: #A42CDD;
  --brand-hover: #8A24C7;
  --brand-secondary: #FFC107;



  --text-primary: #000000;
  --text-secondary: #696969;
  --text-alternate: #FFFFFF;

  --bg-primary: #FFFFFF;
  --bg-secondary: #f7f7f7;
  --bg-tertiary: #d1d1d1;

  --border-primary: #DFDFDF;
  --border-secondary: #BDBDBD;
  --border-tertiary: #9E9E9E;

  --shadow-primary: rgba(0, 0, 0, 0.12);
  --shadow-secondary: rgba(0, 0, 0, 0.24);
  --shadow-tertiary: rgba(0, 0, 0, 0.36);

  --link-primary: #065dd5;
  --link-secondary: #1a56db;
  --link-visited: #ab471c;

  --alert: #f44336;
  --success: #4caf50;
  --warning: #ff9800;
  --info: #2196f3;

}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: rgb(11, 11, 11);
    --bg-secondary: #282828;

    --text-primary: #FFFFFF;
    --text-secondary: #BDBDBD;
    --text-alternate: #000000;

    --border-primary: #333333;
    --border-secondary: #696969;

  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

Navbar {
  position: fixed;
  top: 0;
  left: 0;
}